@{
    ViewBag.Title = "Family Christmas";
}

<div class="row text-center">
    <h1>Family Christmas, @DateTime.UtcNow.Year</h1>
    <p class="lead">The eternal Christmas gift exchange list.</p>

    @using (Html.BeginForm("Match", "Home", FormMethod.Post, new { @class = "form-inline" }))
    {
        <div class="form-group">
            <h2>What is Grandma's first name?</h2>
            <input type="text" class="form-control input-lg" id="grandma" name="grandma" />
            <input type="submit" class="form-control input-lg btn btn-primary" value="Begin" />
        </div>
    }            
</div>