
@{
    ViewBag.Title = "Your match";
}

<div class="text-center">
    <h2>For Christmas @DateTime.UtcNow.Year,</h2>
    <h1><span style="color:green">@ViewBag.Who</span> has <span style="color:red">@ViewBag.Match</span>.</h1>
</div>

